@keyframes bouncing {
    0%, 30% {
        transform: translateY(0px); 
        opacity: 1;
    }
    50% {
        transform: translateY(5px); 
        opacity: 1;
        text-shadow: 0 0 5px #fff, 0 0 15px #fff;
    }
    100% {
        transform: translateY(0px); 
        opacity: 1;
    }
}

@keyframes blinking {
    0%, 30% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes background-slide {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 500px 0%;
    }
}