$menu-item-background: #333;
$menu-item-background-bright: #6aa;
$menu-item-background-hover: #555;

$fg-color: #333;
$fg-color-menu: #fff;

$bg-top-banner: #666;
$bg-main: #fff;
$bg-submain: #f8f8f8;
$bg-secondary: #8b6249;
$bg-header: #42352c;