@import 'colors';

.menu-container {
    padding-top: 15px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
} 

.menu-item-container {
    padding: 10px;
    width: 300px;
    border-radius: 15px;

    display: flex;
    color: #fff;
    background-color: $menu-item-background;
    box-shadow: inset 0 10px 0px #fff6,0 3px 5px #0005;
    border: 1px solid #0001;
    // backdrop-filter: blur(15px);

    transition: background 0.5s, transform 0.3s, box-shadow 0.5s;

    &:nth-child(1){
        background: linear-gradient(45deg, #6eb1ff, #c03bb3);
    }
    &:nth-child(2){
        background: linear-gradient(45deg, rgb(202, 84, 0), rgb(225, 169, 28));
    }
    &:nth-child(3){
        background: linear-gradient(45deg, rgb(218, 255, 54), rgb(24, 198, 79));
    }
    &:nth-child(4){
        background: linear-gradient(45deg, rgb(75, 4, 4), rgb(255, 60, 0));
    }
    &:nth-child(5){
        background: linear-gradient(45deg, rgb(177, 230, 177), rgb(167, 179, 98));
    }

    &:hover {
        // transform: translateY(-5px);
        transform: rotate3d(0.3, 0, 1, 5deg);
        box-shadow: inset 0 45px 0px #fff3, 0 5px 10px #0003;

        .product-ico{
        transform: translateY(8px) scale(1.1) rotate(15deg);
        }

        .item-description {
            transform: translateY(-6px);
        }

        .price {
            transform: translateY(6px)
        }
    }

    .product-ico, .item-description, .price {
        transition: transform 0.6s;
    }

    .product-ico {
        width: 100px;
        object-fit: contain;
    }

    .item-description {
        user-select: none;
        display: flex;
        flex-direction: column;
        width: 100%;
        p {
            flex-grow: 1;
        }
        .price {
            align-self: flex-end;
            font-size: 2rem;
            font-weight: 900;
            text-shadow: 0 2px 4px #0003;
            opacity: 0.9;
        }
    }

    @media (max-width: 700px) {
        width: 100%;

        .item-description {
            width: 100%;
        }
    }
}