@use 'animations';
@use "sass:color";
@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600;700;800;900&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

body {
    font-size: clamp(15px, 1.5vw, 20px);
    // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family:'Exo 2';
    min-width: 350px;
}

* {
    margin: 0px;
    box-sizing: border-box;
}

.top-banner {
    display: flex;
    align-items: flex-end;
    height: 100vh;
    width: 100%;

    background-color: $bg-top-banner;
    background-image: url('../img/wall.jpg');
    background-attachment: fixed;
    background-size:cover;
    
    // position: absolute;
    .top-banner-content {
        height: 50vh;
    }

    .top-banner-scroll-down {
        background: linear-gradient(#0000, #0009);
        width: 100%;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: gradientBlinking 1s infinite ;
        transition: opacity 0.5s;

        .arrow { font-weight: 500; }

        .first-arrow {
            @extend .arrow;
            font-size: 14px;
            animation: bouncing 1s infinite ;
        }

        .second-arrow {
            @extend .arrow;
            font-size: 17px;
            animation: bouncing 1s 80ms infinite ;
        }

        .third-arrow {
            @extend .arrow;
            font-size: 20px;
            animation: bouncing 1s 160ms infinite ;
            margin-bottom: 20px;
        }
    }
}

ul{
    li:nth-child(odd) {
        background-color: #eee;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #f8f8f8;
    padding-bottom: 15px;
    color: #333;

    #menu {
        background-image: url(../img/pattern3.webp);
        background-repeat: repeat;
        animation:  background-slide 40s linear infinite;
        perspective: 10px;
        perspective-origin: 50%;
        border: 2px solid #000;

        .title {
            background-color: #3339;
            color: #fff;
            position: initial;
        }
    }

    section {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: clamp(350px, 90vw, 1200px);
        margin-top: 10px;
        padding: 30px;

        background-color: #fff;
        box-shadow: 0 3px 5px #0002, 0 7px 15px #0001;
        border: 1px solid #0006;
        border-radius: 5px;

        @media (max-width: 715px) {
            width: 100%;
            margin-top: 0px;
            border-radius: 0px;
            box-shadow: 0 1px 2px #0003;
            padding: 15px 15px;
        }
    
        .title {
            position: sticky;
            top: 60px;
            width: 100%;
            // overflow: hidden;
            text-align: center;
            border-radius: 5px;
            background-color: #fffa;
        }
    
        p { width: 100%; }

        #place-anchor {
            position: absolute;
            background-color: #000;
            transform: translateY(-70px);
            opacity: 0;
        }

        #about-anchor {
            @extend #place-anchor;
        }

        #menu-anchor {
            @extend #place-anchor;
        }
    }

    .map-container{
        display: flex;
        flex-direction: row;
        gap: 15px;
        width: 100%;

        .maps-frame {
            width: 50%;
            height: 300px;
            border-radius: 4px;
            box-sizing: content-box;

            border: 1px solid #0003;
            box-shadow: 0 2px 3px #0005;
        }

        @media (max-width: 715px) {
            flex-direction: column;
            .maps-frame { width: 100%; }
        }
    }

    .top-darkening-container {
        position: absolute;
        width: 100%;
        height: 600px;
        background-image: url(../img/pattern4-br.webp);
        background-attachment: fixed;
        // box-shadow: inset 0px 1px 2px #fff3;
        border-top: 2px solid #000; 
    }
    .top-darkening-container-img {
        @extend .top-darkening-container;
        background-image: none;
        background: linear-gradient(rgba($bg-submain, 0) 0% 30%, $bg-submain);
        z-index: 0;
    }
}

.transition {
    width: 100%;
    height: 32px;
    background-color: $bg-submain;
    background-image: url(../img/transition.svg);
}

footer {
    padding: 15px;
    background-color: #333;
    color: #fff;

    .grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .sponsor {
            text-align: center;
            font-size: 1.2rem;
        }

        @media (max-width: 715px) {
            grid-template-columns: 1fr 1fr;
        }
    }
}