@import 'animations';
@import 'colors';

body {
    // background-color: black;
    font-size: 20px;
    font-size: clamp(15px, 1.5vw, 20px);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 350px;
}

* {
    margin: 0px;
    box-sizing: border-box;
}

.top-banner {
    display: flex;
    align-items: flex-end;
    // z-index: -20;
    background-color: #63f;
    background-image: url('./wall.jpg');
    background-attachment: fixed;
    background-size:cover;
    height: 100vh;
    width: 100%;
    // position: absolute;
    .top-banner-content {
        height: 50vh;
    }

    .top-banner-scroll-down {
        // height: 80px;
        background: linear-gradient(#0000, #0009);
        width: 100%;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: gradientBlinking 1s infinite ;
        transition: opacity 0.5s;


        .arrow {
            font-weight: 900;
        }

        .first-arrow {
            font-size: 14px;
            animation: bouncing 1s infinite ;
        }

        .second-arrow {
            font-size: 17px;
            animation: bouncing 1s 80ms infinite ;
        }

        .third-arrow {
            font-size: 20px;
            animation: bouncing 1s 160ms infinite ;
        }
    }
}

header {
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #0000;
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s;


    .header-background {
        position: absolute;
        z-index: -20;
        opacity: 0;
        height: 60px;
        box-shadow: 0 5px 5px #0003, 0 2px 3px #0002;
        background-color: #fff;
        width: 100%;
        height: 100%;
        transition: opacity 0.5s;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #eee;
    // height: 250vh;    

    section {
        background-color: #fff;
        width: clamp(350px, 90vw, 1200px);
        display: flex;
        flex-direction: column;
        padding: 15px;
        align-items: center;
    
        // border: 1px solid #f00;
        border-bottom: 1px solid #0003;
        border-radius: 2px;
    
        .title {
            text-align: center;
            top: 60px;
            position: sticky;
            background-color: #fffa;
            border-radius: 5px;
            width: 100%;
            overflow: hidden;
        }
    
        p {
            width: 100%;
        }
        
        .menu-container {
            padding-top: 15px;

            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            gap: 15px;

            .menu-item-container {
                padding: 10px;
                // min-width: 200px;
                width: 300px;
                // width: clamp(250px, 25vw, 350px);
                // height: clamp(250px, 15vw, 150px);
                // height: 140px;
                border-radius: 15px;

                @media (max-width: 700px) {
                    width: 100%;

                    .item-description {
                        width: 100%;
                    }
                }

                display: flex;
                color: #fff;
                background-color: $menu-item-background;
                box-shadow: 0 3px 5px #0005;

                transition: background 0.5s, transform 0.3s, box-shadow 0.5s;

                &:nth-child(odd) {
                    background-color: #aaa;
                    color: #000;
                }

                &:hover {
                    transform: translateY(-5px);
                    background-color: $menu-item-background-hover;
                    box-shadow: 0 5px 10px #0003;

                    &:nth-child(odd) {
                        background-color: #ccc;
                        color: #000;
                    }

                    .product-ico{
                    transform: translateY(-8px) scale(1.1);
                    }

                    .item-description {
                        transform: translateY(-3px);
                    }
                }

                .product-ico, .item-description {
                    transition: transform 0.6s;
                }

                .product-ico {
                    // display: block;
                    width: 100px;
                    // filter: contrast(6);
                    // height: 100px;
                    // background-size: contain;
                    object-fit: contain;
                }

                .item-description {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    p {
                        flex-grow: 1;
                    }
                    .price {
                        align-self: flex-end;
                        // background-color: #f00;
                        font-size: 2rem;
                    }
                }
            }
        } 
    }

    #menu-container {
        // padding: 0px;
        // display: flex;
        flex-direction: row;
        // background-color: #f00;
        // background-color: #63f;
        // overflow: hidden;
        // overflow-x: scroll;
    }
}

footer {
    background-color: #333;
    color: #fff;
    height: 200px;
}