@import 'animations';

body {
    // background-color: black;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0px;
    box-sizing: border-box;
}

.top-banner {
    display: flex;
    align-items: flex-end;
    // z-index: -20;
    background-color: #63f;
    background-image: url('./wall.jpg');
    background-attachment: fixed;
    background-size:cover;
    height: 100vh;
    width: 100%;
    // position: absolute;
    .top-banner-content {
        height: 50vh;
    }

    .top-banner-scroll-down {
        // height: 80px;
        background: linear-gradient(#0000, #0009);
        width: 100%;
        color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation: gradientBlinking 1s infinite ;
        transition: opacity 0.5s;


        .arrow {
            font-weight: 900;
        }

        .first-arrow {
            font-size: 14px;
            animation: bouncing 1s infinite ;
        }

        .second-arrow {
            font-size: 17px;
            animation: bouncing 1s 80ms infinite ;
        }

        .third-arrow {
            font-size: 20px;
            animation: bouncing 1s 160ms infinite ;
        }
    }
}

header {
    position: fixed;
    z-index: 1000;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #0000;
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s;


    .header-background {
        position: absolute;
        z-index: -20;
        opacity: 0;
        height: 60px;
        box-shadow: 0 5px 5px #0003, 0 2px 3px #0002;
        background-color: #fff;
        width: 100%;
        height: 100%;
        transition: opacity 0.5s;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
    height: 200vh;
    
    

    #first-section {
        background-color: #fff;
        height: 300px;
    }
}

section {
    // min-width: 400px;
    // width: 800px;
    // max-width: 95vw;
    width: clamp(300px, 90vw, 1200px);
    // width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    // justify-content: center;
    align-items: center;

    // margin-top: 15px;
    // border-radius: 5px;
    // box-shadow: 0 0 5px #0003;
    // overflow: hidden;

    .title {
        text-align: center;
        top: 60px;
        position: sticky;
        background-color: #fffa;
        border-radius: 5px;
        width: 100%;
        overflow: hidden;
    }

    p {
        width: 100%;
    }
}



footer {
    background-color: #333;
    color: #fff;
    height: 200px;
}